@page
@model LoginModel

@{
    ViewData["Title"] = "Autorizēšanās";
}

<style>
    #google-sign-in {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 10px; /* Space between icon and text */
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
    }

        #google-sign-in i {
            font-size: 20px; /* Adjust icon size */
        }
</style>

<div class="d-flex justify-content-center align-items-center vh-100" style="margin-top: -150px;">
    <div class="card p-4 shadow-lg" style="width: 500px;">
        <h2 class="text-center">@ViewData["Title"]</h2>
        <form id="account" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label">Ēpasts</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password" class="form-label">Parole</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="checkbox mb-3">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    Atcerēties profilu?
                </label>
            </div>
            <div>
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Autorizēties</button>
            </div>
            <div class="text-center mt-3">
                <p><a id="forgot-password" asp-page="./ForgotPassword">Aizmirsāt paroli?</a></p>
                <p><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Reģistrēties</a></p>
            </div>
        </form>
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <div class="text-center mt-3">
                <p>
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <button type="submit" class="btn btn-outline-danger" name="provider" value="@provider.Name" title="Autorizēties, izmantojot savu @provider.DisplayName account">
                            @if (provider.Name == "Google")
                            {
                                <i class="fab fa-google"></i>
                            }
                            @provider.DisplayName
                        </button>
                    }
                </p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}